border-emboss(base = #666)
  lighter = lighten(base, 10)
  darker = darken(base, 30)
  w = 2px
  w2 = w
  w3 = w
  radius = 8px + w
  offset = w
  border-radius: radius

  &-content
    border: w solid base
    border-radius: radius
    background: base
    border-color: lighter lighter darker darker

  &-bg
    background: darken(base, 40)
    box-shadow: 4px -10px 30px shadow-color
