.utils-vcenter-flex
  display: flex
  justify-content: center
  flex-flow: row wrap
  align-items: center
  align-content: center

.utils-fullsize-absolute
  position: absolute 
  width: 100%
  height: 100%
  top: 0
  left: 0

.utils-center-absolute
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.utils-btn-as-link
  font-family: inherit
  font-size: inherit
  background: transparent
  border: 0

.flex-page-columns
  display: flex
  align-items: stretch

.page-column
  border-left: 1px solid rgba(0, 0, 0, 0.1)
  overflow: scroll

.page-title
  font-size: 1.4rem

.page-link
  opacity: 0.7
  display: inline-block
  margin: 0 1rem
  cursor: pointer
  transition: all 200ms linear
  &:hover
    opacity: 1

.page-form-input
  border: 1px solid rgba(0, 0, 0, 0.1) 
  border-radius: 30px
  padding: 10px
  outline: none
  width: 100%
  box-sizing: border-box