<template>
  <section class="Home">
    <AppsNavigation />
    <AppsListing />
    <AppsDetails />
  </section>
</template>

<script>
import AppsNavigation from '@/components/AppsNavigation.vue'
import AppsListing from '@/components/AppsListing.vue'
import AppsDetails from '@/components/AppsDetails.vue'

export default {
  name: 'home',
  components: {
    AppsNavigation,
    AppsListing,
    AppsDetails
  },
  created() {
    this.$store.dispatch('GET_APPS')
  }
}
</script>

<style lang="stylus">
.Home
  @extend .flex-page-columns
  height: 100%
</style>
