<template>
  <button class="ActionBtn" :class="[{'ActionBtn--icon': icon}, {'ActionBtn--disabled': disabled}]" :disabled="disabled"
  @click="$emit('click', $event.target.value)"
  >
    <div class="ActionBtn-bg"></div>
    <div class="ActionBtn-content">
      <eva-icon v-if="icon" :name="icon"></eva-icon>
      <span v-if="label">{{label}}</span>
    </div>
  </button>
</template>

<script>
import { EvaIcon } from 'vue-eva-icons'

export default {
  components: {
    [EvaIcon.name]: EvaIcon,
  },
  props: {
    disabled: Boolean,
    icon: String,
    label: String,
  }
}
</script>

<style lang="stylus">
  .ActionBtn
    padding: 15px 30px
    border: none
    border-radius: 30px
    transition: all 200ms ease-out
    cursor: pointer
    display: inline-block
    position: relative
    
    &-bg
      @extends .utils-fullsize-absolute
      border-radius: 30px
      background: primary-color
      z-index: 1
      transform-origin: 50% 50%
      transition: all 200ms ease-out

    &-content
      text-decoration: none
      position: relative
      z-index: 2
      color: white
      display: flex
      justify-content: center
      align-items: center
      i
        height: 20px
        width: 20px
        svg 
          width: 100%
          height: 100%
          fill: white
      span
        font-weight bold
        font-size: 1.1rem
      
      i + span
        margin-left: 10px

    &--icon
      padding: 10px 15px
    &--disabled
      pointer-events: none
      .ActionBtn-bg
        background-color: #CCC !important
    &:hover
    &:focus
      outline: none
      .ActionBtn-bg
        transform: scale(1.05)
        box-shadow: 0px 10px 10px shadow-color, 0px -3px 1px rgba(0, 0, 0, 0.2) inset
</style>