<template>
  <section class="AppsNavigation">
    <Dialog ref="addDialog"/>

    <div class="AppsNavigation-header">
      <ActionButton v-on:click.native="onActionBtn" icon="plus" label="Ajouter" />
    </div>

    <button
      @click="onDeviceClick(null)"
      :class="['Link', {'Link--active': device === null }]"
    >
      Toutes les apps
    </button>
    <h2 class="AppsNavigation-title">Devices</h2>
    <nav>
      <ul>
        <li>
          <button
            v-for="dn in devicesNav" :key="dn.label" 
            @click="onDeviceClick(dn.value)"
            :class="['Link', {'Link--active': device === dn.value}]"
            >
            {{ dn.label }}
          </button>
        </li>
      </ul>
    </nav>
  </section>
</template>

<script>
import ActionButton from '@/components/ActionButton'
import Dialog from '@/components/Dialog'
import {mapState} from 'vuex'

export default {
  name: 'AppsNavigation',
  components: {
    ActionButton,
    Dialog
  },
  data () {
    return {
      devicesNav: [
        { label: 'ios', value: 'ios' },
        { label: 'android', value: 'android' },
        { label: 'les deux', value: 'all' },
      ]
    }
  },
  computed: {
    ...mapState({
      device: state => state.searchDevice,
    }),
  },
  methods: {
    onDeviceClick (device) {
      this.$store.commit('UPDATE_DEVICE_INPUT', device)
      this.$store.dispatch('SHOW_DETAILS', null)
    },
    onActionBtn() {
      const lastFocusedElement = document.activeElement
      this.$refs.addDialog.open().then(() => {
        lastFocusedElement.focus()
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
.AppsNavigation
  @extends .page-column
  background-color: #444
  width: apps-nav-width
  color: white
  padding: 2rem 1.5rem
  &-header 
    text-align: center
    margin-bottom: 3rem
  h2
    @extends .page-title
    font-weight: bold
    margin: 2rem 10px
    margin-top: 3rem
    opacity: 0.8
  nav
    margin: 2rem 0

  .Link
    @extends .utils-btn-as-link
    display: block
    text-decoration: none 
    padding: 5px 15px
    line-height: 1.2
    cursor: pointer
    border-radius: 35px
    margin: 1rem 0
    transition: all 200ms linear
    color: white
    &--active
      font-weight: bold
      font-size: 1.1rem
    &:hover
    &:focus
      outline: none
      background: rgba(255, 255, 255, 0.5)

</style>
