<template>
  <section class="AppsDetails" :set="d = details.attributes" tabindex="0">
    <Dialog ref="appDialog"/>

    <article class="AppsDetails-wrapper" v-if="d">
      <div class="AppsDetails-logs">
        <address class="author">Added by: {{ d['added-by'] }}</address> 
        <time pubdate datetime="d['created-at']" :title="formatDate(d['created-at'])"> Date d'ajout: {{ formatDate(d['created-at']) }}</time>
      </div>

      <header class="AppsDetails-header">
        <div class="AppsDetails-header-banner" :style="'background-image: url(https://picsum.photos/id/' +  details.id * 10 + '/1200/400);'"></div>
        <div class="AppsDetails-header-icon"
          :style="'background-image: url(https://ui-avatars.com/api/?name='+ d.name.replace(' ', '+') +'&background=dd5610&size=128&color=fff)'"
        ></div>
      </header>

      <div class="AppsDetails-content">
        <h1 class="AppsDetails-name">
          {{ d.name }}
        </h1>
        <div class="AppsDetails-version">
          <h2>Version</h2>
          <div>
            <ul>
              <li>Build: {{d.version}}</li>
              <li>Release: {{d['version-release']}}</li>
            </ul>
            <ActionButton v-on:click.native="onUpdateBtn" icon="arrow-circle-up-outline" label="submit new version"/>
          </div>
          <h2>Changelog</h2>
          <textarea aria-label="Changlog" name="changelog" v-model="d.changelog"></textarea>
        </div>

        <h2>Catchphrase</h2>
        <textarea aria-label="Catchphrase" name="catchphrase" v-model="d.catchphrase"></textarea>
        
        <h2>Description</h2>
        <textarea aria-label="Description" name="description" v-model="d.description"></textarea>

        <AppsDetailsScreenshots :data="d.screenshots"/>
      </div>

      <div :key="componentKey" :class="['AppsDetails-savebanner', {'disabled': !details.hasBeenModified}]">
          <ActionButton icon="save" label="Sauver" @click="onSaveClick" :disabled="!details.hasBeenModified"/>
      </div>
    </article>
    <div class="AppsDetails-wrapper" v-else>
      <AppDetailsRecap />
    </div>
  </section>
</template>

<script>
import ActionButton from '@/components/ActionButton'
import Dialog from '@/components/Dialog'
import AppsDetailsScreenshots from '@/components/AppsDetails-screenshots'
import AppDetailsRecap from '@/components/AppsDetails-recap'

import { EvaIcon } from 'vue-eva-icons'
import { mapGetters, mapActions } from 'vuex'
import { ADD_TOAST_MESSAGE } from 'vuex-toast'

export default {
  name: 'AppsDetails',
  components: {
    [EvaIcon.name]: EvaIcon,
    ActionButton,
    AppsDetailsScreenshots,
    AppDetailsRecap,
    Dialog
  },
  data () {
    return {
      editMode: false,
      isModifed: false,
      componentKey: 0
    }
  },
  computed: {
    ...mapGetters({
      details: 'appDetails'
    })
  },
  watch: {
    details: {
      handler (newValue, oldValue) {
        if (oldValue.id !== newValue.id) {
          this.$el.focus()
        } else {
          this.componentKey ++
          this.$store.dispatch('MODIFY_APP_DRAFT')
        }
      },
      deep: true
    }
  },
  methods: {
    ...mapActions({
      addToast: ADD_TOAST_MESSAGE
    }),
    onSaveClick() {
      this.$store.dispatch('SAVE_APP').then(() => {
        this.componentKey ++
        this.addToast({
          text: "Application mise à jour",
          type: 'success',
          dismissAfter: 10000
        })
      })
    },
    onUpdateBtn() {
      const lastFocusedElement = document.activeElement
      this.$refs.appDialog.open().then(() => {
        lastFocusedElement.focus()
      })
    },
    formatDate(dateString) {
      const date = new Date(dateString)
      const ms = ['jan.', 'fev.', 'Mar.', 'avr.', 'mai', 'juin', 'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'dec.'];
      return date.getDate() + ' ' + ms[date.getMonth()] + ' ' + date.getFullYear() + ' ' + date.toLocaleTimeString();
    }
  }
}
</script>

<style lang="stylus">
.AppsDetails
  @extends .page-column
  width: apps-details-width
  outline: none
  h2
    padding: 20px 0
  &-logs
    padding: 20px
    opacity: 0.7
    line-height: 1.5
  &-header
    position: relative
    &-banner
      width: 100%
      height: 0
      padding-top: 23%
      background-color: #CCC
      transition: all 200ms linear
      background-size: cover
    &-icon
      width: 100px
      height: 100px
      border-radius: 10px
      background-size: cover
      position: absolute
      border: 1px solid #CCC
      left: 0
      right: 0
      bottom: -50px
      margin: auto
  &-name
    text-align: center
    padding: calc(50px + 2rem) 0
    font-size: 1.6rem
    font-weight: bold
  &-version
    > div
      padding: 20px
      background: rgba(100, 100, 100, 0.1)
      position: relative
      border-radius: 10px
      .ActionBtn
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)

  &-content
    padding: 20px
  
  &-wrapper
    position: relative

  textarea
    font-family: Avenir
    font-size: 1rem
    width: 100%
    border-radius: 10px
    padding: 20px
    border: 1px dashed rgba(0, 0, 0, 0.2)
    box-sizing: border-box
  
  &-savebanner
    @extends .utils-vcenter-flex
    position: relative
    width: 100%
    bottom: 0
    right: 0
    border-top: 1px dashed rgba(0, 0, 0, 0.2)
    border-left: 1px solid rgba(0, 0, 0, 0.1)
    z-index: 50
    padding: 20px 0
    text-align: center
    background: lighten(success-color, 30)
    margin-top: 30px
    transition: all 200ms ease-out
    &.disabled
      background: lighten(grey, 40)

    .ActionBtn-bg
      background: success-color
      

</style>
