<template>
  <article class="AppDetailsRecap">
    <header class="Recap Recap--welcome">
      <div class="Recap-img"
        style="background-image: url('https://loremflickr.com/400/600/cat');"
      ></div>
      <h1>Bienvenue!</h1>
    </header>
    <div class="Recap">
      <h2>Vos apps</h2>
      <p><span>{{meta.total}}</span> Applications mobiles</p>
      <p><span>{{meta.totalIos}}</span> Applications ios</p>
      <p><span>{{meta.totalAndroid}}</span> Applications android</p>
    </div>
    <div class="Recap">
      <h2>Dernières activités</h2>
      <ul>
        <li v-for="a in recentApps" :key="a.id">
          <time pubdate datetime="a.attributes['created-at']" :title="formatDate(a.attributes['created-at'])">{{ formatDate(a.attributes['created-at']) }}</time>
          <address>By: {{ a.attributes['added-by'] }}</address> 
        </li>
      </ul>
    </div>
  </article>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  computed: {
    ...mapGetters({
      meta: 'getMetaTotals',
      recentApps: 'getRecents'
    })
  },
  methods: {
    formatDate (dateString) {
      const date = new Date(dateString)
      const ms = ['jan.', 'fev.', 'Mar.', 'avr.', 'mai', 'juin', 'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'dec.'];
      return date.getDate() + ' ' + ms[date.getMonth()] + ' ' + date.getFullYear() + ' ' + date.toLocaleTimeString();
    }
  }
}
</script>

<style lang="stylus">
.AppDetailsRecap
  padding: 30px 5%
.Recap
  &--welcome
    display: flex
    h1
      font-size: 3rem
      color: secondary-color
      margin-top: 30px
      margin-left: 5%
  &-img
    width: 40%
    padding-top: 30%
    background-size: cover
    border-radius: 40px
  h3
    margin-top: 2rem

  p 
    span 
      display: inline-block
      width: 100px
      font-size: 3rem
      text-align: right
      padding-right: 20px
      color: neutral-color
  
  li
    line-height: 2
    time
    address 
      display: inline-block
    time
      padding-right: 20px
      color: neutral-color
      font-weight: bold
</style>