<template>
  <section class="AppsListing">
    <header class="AppsListing-header">
      <input aria-label="Search" type="text" name="search" placeholder="search" v-model="searchWord">
      <eva-icon name="search"></eva-icon>
    </header>
    <ul>
      <li v-for="app in filteredApps" :key="app.id" :set="a = app.attributes">
        <a href="javascript:void(0)" role="button" tabindex="0"
        :class="['AppLine', {'AppLine--active': parseInt(app.id) === currentAppId}, {'AppLine--modified': app.hasBeenModified}]"
        @click="onListItemClick(app.id)" ref="line">
          <div class="AppLine-image" 
            :style="'background-image: url(https://ui-avatars.com/api/?name='+ format(a.name) +'&background=dd5610'+'&color=fff)'"
          ></div>
          <div class="AppLine-content">
            <h3 class="AppTitle">
              <span class="AppTitle-name">{{ a.name }}</span>
              <div class="AppTitle-version" v-if="a['version-release']">
                {{ a['version-release'] }}
              </div>
            </h3>
            <p>{{ a.catchphrase }}</p>
            <div class="AppLineInfos">
              <img svg-inline class="icon" :src="require('@/assets/' + a['os-type'] + '-logo.svg')" alt="example" />

              <Chip icon="message-circle" :label="a['comments-count'].toString()" v-if="a['comments-count']" />
              <Chip icon="download" :label="a['unique-downloads'].toString()" v-if="a['unique-downloads']" />
            </div>
          </div>
        </a>
      </li>
    </ul>
    <p class="AppsListing-feedback" v-if="apps.length === 0">Nothing to see REALLY</p>
    <p class="AppsListing-feedback" v-else-if="filteredApps.length === 0">Nothing to see</p>
  </section>
</template>

<script>
import { EvaIcon } from 'vue-eva-icons'
import { mapState, mapGetters } from 'vuex'

import {TweenMax} from 'gsap'

import Chip from '@/components/Chip'

export default {
  components: {
    [EvaIcon.name]: EvaIcon,
    Chip
  },
  computed: {
    ...mapState({
      apps: state => state.filteredApps !== null ? state.filteredApps : state.apps,
      currentAppId: state => state.currentAppId,
    }),
    ...mapGetters({
      filteredApps: 'filteredAppDevice'
    }),
    searchWord: {
      get () {
        return this.$store.state.searchWord
      },
      set (value) {
        this.$store.commit('UPDATE_SRCH_INPUT', value)
      }
    }
  },
  updated() {
    this.show(0.1)
  },
  mounted() {
    this.$el.addEventListener('scroll', this.onScroll)
    this.onScroll()
  },
  beforeDestroy() {
    this.$el.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onListItemClick(id) {
      this.$store.dispatch('SHOW_DETAILS', id)
    },
    format(string) {
      return string.replace(' ', '+')
    },
    randomColor() {
      return Math.floor(Math.random() * 16777215).toString(16)
    },
    show(offset = 0) {
      const scroll = this.$el.scrollTop
      if (!this.$refs.line) return
      this.$refs.line.forEach((el, i) => {
        const cache = el.getBoundingClientRect()
        const top = Math.round(cache.top - scroll)
        const bottom = Math.round(cache.bottom - scroll)
        const inview = (cache.top < window.innerHeight * 0.9)
  
        if (inview && !el.hasAttribute('data-shown')) {
          el.setAttribute('data-shown', true)
          TweenMax.fromTo(el, 0.4, {x: -20, alpha: 0}, {x: 0, alpha: 1, delay: i * offset, ease: Expo.easeOut})
        }
      })
    },
    onScroll(e) {
      this.show()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
.AppsListing
  @extends .page-column
  width: apps-listing-width

  &-header
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) 
    padding: 20px
    position: relative
    input
      @extends .page-form-input
    i
      position: absolute 
      top: 50%
      right: 30px
      transform: translate(0, -50%)
      width: 20px
      height: 20px
      fill: grey
    svg
      width: 100%
      height: 100%
  &-feedback
    padding: 20px
    text-align: center
    
  .AppLine
    padding: 20px
    display: flex
    align-items: top
    transition: all 200ms linear
    cursor: pointer
    opacity: 0
    text-decoration: none
    &--active
      background: infos-color
    &--modified
      border-left: 6px solid success-color
    &:hover:not(.AppLine--active)
    &:focus:not(.AppLine--active)
      background: shadow-color
      outline: none
    &-image
      background: grey 
      background-size: cover
      border-radius: 50%
      width: 3.5vw
      height: @width
      min-width: 40px
      min-height: @min-width
    &-content
      width: calc(100% - 3.5vw)
      padding-left: 20px

      .AppTitle
        display: flex
        justify-content: space-between
        align-items: center
        font-weight: bold
        margin-bottom: 0.5rem

        &-version
          font-size: 0.7rem
          max-width: 120px
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden
          display: flex
          img
            display: block
            width: 20px
            height: 20px
      p
        opacity: 0.7
        margin-bottom: 0.4rem
      .AppLineInfos
        display: flex
        align-items: center
        img
          display: inline-block
          height: 18px
          margin-right: 15px
          opacity: 0.4
</style>

