<template>
  <section class="AppsDetailsScreenshots">
    <DialogForm ref="dialog"/>
    <div class="AppsDetailsScreenshots-heading">
      <h3>Screenshots</h3>
      <ActionButton icon="plus" label="ajouter une image" v-on:click.native="onAddImage"/>
    </div>
    <ul>
      <li v-for="(s, i) in data" :key="s.key">
        <img v-if="parseInt(s)" :src="'https://picsum.photos/id/' +  s + '/600/1024'" alt :title="'Screenshot ' + i" role="presentation">
        <img v-else :src="s" alt :title="'Screenshot ' + i" role="presentation">
        <button :title="'Remove: Screenshot ' + i" class="RemoveBtn" @click="remove(i)">
          <eva-icon name="close-outline"/>
        </button>
      </li>
    </ul>
  </section>
</template>

<script>
import ActionButton from '@/components/ActionButton'
import DialogForm from '@/components/DialogForm'
import { EvaIcon } from 'vue-eva-icons'

export default {
  props: ['data'],
  components: {
    ActionButton,
    [EvaIcon.name]: EvaIcon,
    DialogForm
  },
  methods: {
    onAddImage () {
      const lastFocusedElement = document.activeElement

      this.$refs.dialog.open({
        image: {
          label: 'Lien vers votre image',
          value: 'url',
          url: true
        }
      }, {title: 'Nouvelle image' }).then((obj) => {
        lastFocusedElement.focus()
        if (!obj) return
        this.data.push(obj.image)
        this.$store.dispatch('MODIFY_APP_DRAFT')
      })
    },
    remove(id) {
      this.data.splice(id, 1)
      this.$store.dispatch('MODIFY_APP_DRAFT')
    }
  }
}
</script>

<style lang="stylus">
.AppsDetailsScreenshots
  margin-top: 30px
  &-heading
    position: relative
    margin: 3rem 0
    .ActionBtn
      position: absolute
      right: 20px
      top: 50%
      transform: translateY(-50%)
  ul
    overflow: hidden
  li
    width: 'calc(%s - 20px)' % (100%/4)
    margin: 0 10px
    float: left
    position: relative
  img
  &-add
    width: 100%
    display: block
    border-radius: 10px
    background: grey
  .RemoveBtn
    background: red
    padding: 8px
    position: absolute
    bottom: 10px
    left: 50%
    z-index: 2
    transform: translateX(-50%)
    border-radius: 30px
    width: 40px
    height: 40px
    cursor: pointer
    transition: all 200ms linear
    transform-origin: 50% 50%
    border: 0
    outline: none
    opacity: 0.9
    &:hover
    &:focus
      opacity: 1
      transform: translateX(-50%) scale(1.05)
      box-shadow: 0px 5px 10px red, 0px -3px 1px rgba(0, 0, 0, 0.2) inset
      border: 1px solid white
    svg
      width: 100%
      fill: white
</style>