<template>
  <div class="Chip">
    <eva-icon v-if="icon" :name="icon"></eva-icon>
    <span>{{label}}</span>
  </div>
</template>

<script>
import { EvaIcon } from 'vue-eva-icons'

export default {
  components: {
    [EvaIcon.name]: EvaIcon,
  },
  props: {
    icon: String,
    label: String
  },
  data () {
    return {
    }
  },
}
</script>

<style lang="stylus">
  .Chip
    font-size: 0.8rem
    display: inline-block
    padding: 3px 8px
    display: flex
    align-items: center
    padding: 2px 5px
    margin-right: 5px
    background: rgba(100, 100, 100, 0.1)
    border-radius: 20px
    i
      opacity: 0.8
    svg
      width: 15px
      height: 15px
</style>