<template>
  <transition 
    appear
    v-on:leave="leave"
    v-on:enter="enter"
    v-bind:css="false" >
  <div class="Dialog" v-show="dialog" ref="modal">
    <div class="Dialog-overlay"></div>
    <div class="Dialog-content" tabindex="0" ref="content">
      <div ref="anim-item" class="Dialog-img"
        style="background-image: url('https://media.giphy.com/media/BmQ4DDAwmYvHq/giphy.gif');"
      ></div>
      <h3 ref="anim-item">C'est embétant...</h3>
      <p ref="anim-item">Cette feature n'existe pas !</p>
      <ActionButton ref="anim-item" label="OK!" v-on:click.native="agree"/>
    </div>
  </div>
  </transition>
</template>

<script>
import ActionButton from '@/components/ActionButton'

export default {
  components: {
    ActionButton
  },
  data: () => ({
    dialog: false,
    resolve: null,
    reject: null
  }),
  methods: {
    open (object) {
      this.dialog = true
      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    },
    agree () {
      let obj = {}
      this.resolve(obj)
      this.dialog = false
    },
    enter (e, done) {
      const $items = [].slice.call(this.$refs.content.querySelectorAll('h3, p, div'))
      this.tl = new TimelineMax({onComplete: () => {
        done()
        this.$refs.content.focus()
      }})
      this.tl.fromTo(this.$refs.content, 0.4, {scale: 0, alpha: 0}, {scale: 1, alpha: 1 }, 0)
      this.tl.staggerFromTo($items, 0.4, {alpha: 0, y: -10}, {alpha: 1, y: 0, ease: Expo.easeOut },0.1, 0.4)
    },
    leave(e, done) {
      this.tl.clear()
      this.tl = new TimelineMax({onComplete: done, clearProps: 'all'})
      this.tl.fromTo(e, 0.3, {alpha: 1}, {alpha: 0, ease: Expo.easeOut, clearProps: 'all'}, 0)
    }
  }
}
</script>

<style lang="stylus">
.Dialog
  @extends .utils-fullsize-absolute
  z-index: 100
  background: rgba(0, 0, 0, 0.5)
  color: black
  text-align: center
  &-img
    display: inline-block
    width: 200px
    height: 200px
    border-radius: 30px
  &-content
    position: absolute
    width: 30%
    padding: 30px
    background: white
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 20px
    outline: none
    > div, h3
      margin: 1rem 0
    h3
      font-size: 1.5rem
    .ActionBtn
      margin-top: 2rem
</style>
