<template>
  <transition 
    appear
    v-on:leave="leave"
    v-on:enter="enter"
    v-bind:css="false" >
    <div class="DialogForm" v-if="dialog">
      <div class="DialogForm-overlay"></div>
      <div class="DialogForm-content" ref="content" tabindex="0">
        <h3>{{options.title}}</h3>
        <form class="DialogForm-formRaw" v-for="(obj, key)  in object" :key="key">
          <label for="imgurl">{{ obj.label }}</label>
          <input name="imgurl" type="text" v-model="obj.value" :class="[{'error': obj.error}]" @input="checkValues">
        </form>
        <button class="DialogForm-cancelBtn" @click="cancel">Annuler</button>
        <ActionButton ref="anim-item" label="Submit" v-on:click.native="agree"/>
      </div>
    </div>
  </transition>
</template>

<script>
import ActionButton from '@/components/ActionButton'
import {validURL} from '@/services/utils'

export default {
  components: {
    ActionButton
  },
  data: () => ({
    dialog: false,
    resolve: null,
    reject: null,
    object: {},
    options: {
      title: ''
    }
  }),
  methods: {
    open (object, options = {}) {
      this.dialog = true
      this.object = object
      this.options = Object.assign(this.options, options)
      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    },
    checkValues () {
      for (const key in this.object) {
        const curr =  this.object[key]
        curr.error = false
        if (curr.url && !validURL(curr.value)) {
          curr.error = true
          return false
        }
      }

      return true
    },
    agree () {
      if (!this.checkValues()) return

      let obj = {}
      for (const key in this.object) {
        obj[key] = this.object[key].value ? this.object[key].value : ''
      }
      this.resolve(obj)
      this.dialog = false
      this.object = {}
    },
    cancel () {
      this.resolve(false)
      this.dialog = false
    },
    enter (e, done) {
      this.tl = new TimelineMax({onComplete: () => {
        done()
        this.$refs.content.focus()
      }})
      this.tl.fromTo(this.$refs.content, 0.4, {scale: 0, alpha: 0}, {scale: 1, alpha: 1 }, 0)
    },
    leave(e, done) {
      this.tl.clear()
      this.tl = new TimelineMax({onComplete: done, clearProps: 'all'})
      this.tl.fromTo(e, 0.3, {alpha: 1}, {alpha: 0, ease: Expo.easeOut, clearProps: 'all'}, 0)
    }
  }
}
</script>

<style lang="stylus">
.DialogForm
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 100
  background: rgba(0, 0, 0, 0.5)
  color: black
  text-align: center
  &-content
    position: absolute
    min-width: 30%
    padding: 30px
    background: white
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 20px
    outline: none
    > div, h3
      margin: 1rem 0
    h3
      @extends .page-title
    .ActionBtn
      margin-top: 2rem
    
    input
      @extends .page-form-input
      margin: 1.5rem 0
      &.error
        border: 1px solid red
  &-cancelBtn
    @extends .utils-btn-as-link
    margin: 0 1rem
    border-radius: 30px
    outline: none
    padding: 5px 10px
    transition: all 200ms linear
    &:hover
    &:focus
      background: rgba(0, 0, 0, 0.2)

</style>
