<template>
  <header class="Header">
    <img svg-inline class="Logo" src="@/assets/appaloo-logo.svg" alt="Appaloo" />
    <h1> | Mini Admin</h1>
  </header>
</template>

<style scoped lang="stylus">
.Header
  padding: 10px 20px
  display: flex
  align-items: center
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  h1
    text-transform: uppercase
    padding-top: 3px
.Logo
  height: header-height - 20px
  margin-right: 10px
</style>