<template>
  <transition appear v-on:leave="leave" v-bind:css="false" >
  <div class="Loader" v-show="isLoading">
    <div class="Loader-bg"></div>
    <div class="Logo" ref="logo">
      <div class="LogoBase">
        <img svg-inline class="icon" src="@/assets/logo-base.svg" alt="example" />
      </div>
      <div class="LogoArrows" ref="arrows">
        <div class="LogoArrow LogoArrow--1">
          <div class="LogoArrow-line"></div>
          <img svg-inline class="icon" src="@/assets/arrow1.svg" alt="example" />
        </div>
        <div class="LogoArrow LogoArrow--2">
          <div class="LogoArrow-line"></div>
          <img svg-inline class="icon" src="@/assets/arrow2.svg" alt="example" />
        </div>
        <div class="LogoArrow LogoArrow--3">
          <div class="LogoArrow-line"></div>
          <img svg-inline class="icon" src="@/assets/arrow3.svg" alt="example" />
        </div>
        <div class="LogoArrow LogoArrow--4">
          <div class="LogoArrow-line"></div>
          <img svg-inline class="icon" src="@/assets/arrow4.svg" alt="example" />
        </div>
        <div class="LogoArrow LogoArrow--5">
          <div class="LogoArrow-line"></div>
          <img svg-inline class="icon" src="@/assets/arrow5.svg" alt="example" />
        </div>
      </div>
    </div>
  </div>
  </transition>
</template>

<script>
import { TimelineMax, Expo, TweenMax } from 'gsap'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      tl: null
    }
  },
  computed: {
    ...mapState(['isLoading'])
  },
  mounted () {
    const arrows = [].slice.call(this.$refs.arrows.querySelectorAll('.LogoArrow'))
    this.tl = new TimelineMax({repeat: -1, yoyo: true})
    arrows.forEach(element => {
      this.tl.from(element, 0.6, {x: 0, width: this.getRandomArbitrary(200, 300), transformOrigin: '0 50%', ease: Expo.easeOut }, Math.random() * 1)
    })
  },
  beforeDestroy() {
    this.tl.kill()
  },
  methods: {
    getRandomArbitrary(min, max) {
      return Math.random() * (max - min) + min;
    },
    leave(e, done) {
      this.tl.pause()
      this.tl = new TimelineMax({onComplete: done})
      this.tl.fromTo(this.$refs.logo, 0.4, {scale: 1, alpha: 1}, {scale: 0, alpha: 0 }, 0)
      this.tl.fromTo(e, 0.6, {alpha: 1}, {alpha: 0 }, 0.5)
    }
  }
}
</script>

<style scoped lang="stylus">
.Loader
  position: absolute
  z-index: 5
  width: 100%
  height: 100%
  @extends .utils-vcenter-flex
  &-bg
    @extends .utils-fullsize-absolute
    background: orange
    z-index: 1
    
.Logo
  z-index: 5
  position: relative
  width: 200px
  transform: rotate(-35deg)
.LogoBase
  width: 100%

.LogoArrows
  position: absolute
  top: 70px
  left: 120px

.LogoArrow
  position: relative
  width: 100px
  &--1
    top: -17px
    left: -4px
    width: 80px
  &--2
    top: -8px
    width: 120px
  &--3
    top: 0px
    left: 1px
    width: 90px
    z-index: 3
  &--4
    top: 4px
    left: 7px
    width: 95px
    z-index: 1
  &--5
    top: 15px
    left: 17px
    z-index: 2

  &-line
    height: 5px
    background: #00A2B6
  .icon
    width: 80px
    position: absolute 
    right: -30px
    top: -19px

</style>