<template>
  <div id="app">
    <Header/>
    <Loader/>
    <main role="main">
      <router-view/>
    </main>

    <toast position="ne"></toast>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Loader from '@/components/Loader.vue'
import { Toast } from 'vuex-toast'

export default {
  name: 'home',
  components: {
    Header,
    Loader,
    Toast
  }
}
</script>

<style lang="stylus">
body
html
#app
  width: 100%
  height: 100%
  overflow: hidden
  min-width: 1200px

#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50

  h3, h2
    font-size: 1.4rem
    line-height: 1.5

main
  height: 'calc(100% - %s)' % (header-height)
</style>
